* {
    background-color: rgb(66, 8, 120);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    height: 100px;
    background-color: violet;
    justify-content:space-between;
}

.nav-item {
    display: flex;
    outline: solid red 1px;
    align-items: center;
}

.nav-subitem {
    outline: solid yellow 2px;
    align-items: center; 
    width: 100px;
    height: 100px;
}

.nav-subitem img {
    outline: solid yellow 2px;
    width: 50px;
    height: 50px;
}